<!--
<ion-header no-border>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text="Voltar"></ion-back-button>
    </ion-buttons>

    <ion-title text-capitalize>Calendário</ion-title>
  </ion-toolbar>
</ion-header>
 -->

<app-header titulo="Calendário"></app-header>


<ion-content>

  
<ion-button color="sucess" expand="full" (click)="presentActionSheet()">
  2021-2
</ion-button>

  <!--
  <ion-tabs>
      <ion-tab-bar slot="bottom">

          <ion-tab-button defaultHref="/">
              <ion-icon name="home"></ion-icon>
              <ion-label>Início</ion-label>
          </ion-tab-button>

          <ion-tab-button tab="notas">
              <ion-icon name="calculator"></ion-icon>
              <ion-label>Notas</ion-label>
          </ion-tab-button>

          <ion-tab-button>
              <ion-icon name="log-out"></ion-icon>
              <ion-label>Sair</ion-label>
          </ion-tab-button>

      </ion-tab-bar>
  </ion-tabs>
-->
</ion-content>