<app-header titulo="Notas">
    
</app-header>
<!--
<ion-header no-border>
    <ion-toolbar>
  
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/" text="Voltar"></ion-back-button>
      </ion-buttons>
  
      <ion-title text-capitalize>Notas</ion-title>
    </ion-toolbar>
  </ion-header>
-->
<ion-content>
   <!--
    <ion-tabs>
        <ion-tab-bar slot="bottom">

            <ion-tab-button tab="inicio">
                <ion-icon name="home"></ion-icon>
                <ion-label>Início</ion-label>
            </ion-tab-button>

            <ion-tab-button tab="calendario">
                <ion-icon name="calendar"></ion-icon>
                <ion-label>Calendário</ion-label>
            </ion-tab-button>

            <ion-tab-button>
                <ion-icon name="log-out"></ion-icon>
                <ion-label>Sair</ion-label>
            </ion-tab-button>

        </ion-tab-bar>
    </ion-tabs>
    -->
</ion-content>